@import "~normalize.css";

html {
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.Container {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
}

.Container_button {
    padding: 20px;
    width: 500px;
}

.Button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 44px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto 40px;
    width: 180px;
    background-color: darkgrey;
}

.Input_span {
    display: block;
    cursor: pointer;
    background-color: gray;
    border: 2px solid black;
    border-radius: 4px;
    padding: 8px 13px;
    margin-top: 25px;
}

.Drag_drop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 280px;
    border: 2px dashed black;
    border-radius: 4px;
    padding: 80px 40px 40px;
    background-color: lightgrey;
}

.Details_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 500px;
    height: 280px;
    padding: 80px 40px 40px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: lightgrey;
}

.Table_row {
    cursor: pointer;
}

.Table_cell {
    display: flex;
    align-items: center;
    width: 500px;
    height: 40px;
    background-color: lightgray;
    border: 2px outset black;
    padding-left: 10px;
    border-radius: 4px;
    text-align: start;
}

.Table_cell:hover,
.Table_cell:focus,
.Table_cell:active {
    background-color: dimgray;
}

.Arrow {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.Cross {
    width: 33px;
    height: 33px;
    margin-right: 8px;
}

.Table_name {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

h1 {
    margin-bottom: 80px;
    text-decoration: underline;
    box-shadow: 8px 8px 13px 13px outset darkslategray;
}

p {
    display: block;
    margin-right: auto;
    text-align: left;
}
